<style type="text/css">
th{font-size : xx-large;text-align: center;}
td{text-align: center;}
#boardid{width : 10%;}
#title{width : 50%;}
#writer{width : 20%;}
#date{width : 20%;}
.pagingbutton{display: inline-block; float: right;}
</style>