<style type="text/css">
th{font-size : xx-large;text-align: center;}
td{text-align: center;}
#boardid{width : 10%;}
#boardid2{width : 10%;}
#writer{width : 10%;}
#writer2{width : 25%;}
#date{width : 10%;}
#date2{width : 25%;}
#title{width: 10%;}
#title2{width: 90%;}
#content{width: 10%;}
#content2{width: 90%;}
.actionButton{display: inline;}
</style>